body {
    margin-bottom: 100px;    
}

.noScore {
    text-align: center;
    font-size: large;
    font-weight: bold;
    color: rgb(255, 0, 0);
}

.result {
    font-size: large;
    font-style: italic;
    color: rgb(78, 77, 77);
}

.score {
    font-size: large;
    color: rgb(0, 4, 255);
}

/* Questions Presented in the questions container */
.questions {
    text-align: left;
    font-size: large;
    font-weight: bold;

}

/* Buttons containing the answers in the answers container */
.answerBtn {
    display: grid;
    background-color: #750b5b;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px;
    color: #eee;
    outline: none;
}

.answerBtn:hover {
    background-color: #96658a;
}