/* Allows for a fixed footer */
body {
    margin-bottom: 100px;    
}

/* Game Over Message */
.gameOver {
    text-align: center;
    font-size: larger;
    font-weight: bold;
    color: rgb(255, 0, 0);
}

/* No Score Message */
.noScore {
    text-align: center;
    font-size: large;
    color: rgb(255, 0, 0);
}

/* Correct! or Wrong! Message */
.result {
    font-size: large;
    font-style: italic;
    color: rgb(78, 77, 77);
}

/* Well Done! Message */
.wellDoneMsg {
    font-size: larger;
    font-weight: bold;
}

/* Questions Presented in the questions container */
.questions {
    text-align: left;
    font-size: large;
    font-weight: bold;
}

/* Answer Button Styling */
.answerBtn {
    display: grid;
    background-color: #750b5b;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px;
    color: #eee;
    outline: none;
}
.answerBtn:hover {
    background-color: #96658a;
}

/* Initials input field */
.initialsInput {
    background-color: #7c7c7c;
    border-radius: 5px;
    margin: 5px;
    color: #eee;
    outline: none;
    width: 75px;
}

/* Initials submit button */
.submitBtn {
    display: inline-block;
    background-color: #750b5b;
    border-radius: 5px;
    margin: 5px;
    color: #eee;
    outline: none;
}
.submitBtn:hover {
    background-color: #96658a;
}